.portfolio_wrapper {
  background-color: var(--primary_black);
  color: var(--primary_white);
}

.portfolio_container {
  flex-direction: column;
  padding: 50px;
  width: 100vw;
}

.portfolio_title {
  width: 100%;
  text-align: end;

  h2 {
    color: var(--primary_white);

    span {
      color: var(--primary_orange);
    }
  }
}

.portfolio_subtitle_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

  h3 {
    color: var(--primary_white);
    font-size: 40px;
    font-weight: 600;
  }

  .portfolio_subtitle_orange {
    color: var(--primary_orange);
  }
}

.portfolio_button {
  background-color: var(--primary_orange);
  color: var(--primary_white);

  &:hover {
    color: var(--primary_orange);
  }
}

.portfolio_button_reverse {
  background-color: var(--primary_white);
  color: var(--primary_orange);

  &:hover {
    background-color: var(--primary_orange);
    color: var(--primary_white);
  }
}

.portfolio_atendimento_cards_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.portfolio_atendimento_card {
  margin: 10px;
  border: 2px solid var(--primary_white);
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: box-shadow 0.3s ease;
  }
}

//Carousel

.projetos_carousel_wrapper {
  width: 95%;
  height: 330px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.projetos_carousel_card {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px;
  height: 278px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .portfolio_carousel_button {
    margin-bottom: 20px;
  }
}

#projetos_carousel_1 {
  background: url("../../assets/images/barros720p.png") top no-repeat;
  background-size: contain;
}
#projetos_carousel_2 {
  background: url("../../assets/images/clinica_veterinaria720p.png") top
    no-repeat;
  background-size: contain;
}
#projetos_carousel_3 {
  background: url("../../assets/images/restaurante720p.png") top no-repeat;
  background-size: contain;
}
#projetos_carousel_4 {
  background: url("../../assets/images/studio720p.png") top no-repeat;
  background-size: contain;
}
#projetos_carousel_5 {
  background: url("../../assets/images/iphone720p.png") top no-repeat;
  background-size: contain;
}

//Portfolio EXPANDED
.portfolio_expanded_title {
  width: 100%;

  h2 {
    color: var(--primary_orange);

    span {
      color: var(--primary_white);
    }
  }
}

.portfolio_expanded_cards_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.portfolio_expanded_card {
  display: flex;
  align-items: flex-end;
  width: 300px;
  height: 400px;
  margin: 20px;
  border: 2px solid var(--primary_white);
  transition: all 0.3s ease;
  position: relative;

  .portfolio_expanded_card_span {
    width: 300px;
    height: 400px;
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(#fff, 0.7);
    color: var(--primary_black);
    transition: all 0.3s ease;
  }

  .portfolio_expanded_span_title {
    font-size: 20px;
    font-weight: 700;
    width: 80%;
    text-align: center;
  }

  .portfolio_expanded_span_text {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
  }

  .portfolio_expanded_card_button {
    color: var(--primary_black);
    border: 2px solid var(--primary_black);
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
      color: var(--primary_white);
      border: 2px solid var(--primary_orange);
      transition: all 0.3s ease;
    }
  }

  &:hover {
    border: 2px solid var(--primary_orange);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.3s ease;
    p {
      display: none;
      transition: all 0.3s ease;
    }
    .portfolio_expanded_card_span {
      display: flex;
      transition: all 0.3s ease;
    }
  }

  p {
    position: absolute;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000,
      -1px -1px #000, 1px -1px #000, -1px 1px #000;
  }
}
.portfolio_expanded_card_soon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  margin: 20px;
  border: 2px solid var(--primary_white);
  font-size: 25px;
  transition: all 0.3s ease;

  &:hover {
    border: 2px solid var(--primary_orange);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.3s ease;
  }
}
