.home_wrapper {
  height: 100vh;
  background: url("../../assets/images/home-bg.jpg") top right no-repeat;
  background-size: cover;
}

.home_container {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-end;
}

.home_logo {
  width: 280px;
}

.home_card_container {
  padding: 100px;

  h1 {
    font-size: 22px;
    color: var(--primary_orange);
    font-weight: 400;
  }
}

//media query MOBILE
@media (max-width: 431px) {
  .home_wrapper {
    background-size: cover;
    background-position: left;
  }

  .home_container {
    align-items: center;
    justify-content: center;
  }

  .home_card_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
