/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--primary_white);
  transition: all 0.3s ease;
  border: 2px solid var(--primary_black);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--primary_orange);
  opacity: 1 !important;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.59) 0px 3px 3px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--primary_black);
  padding: 2.5em 1.5em 0;
  font-size: 14px;
  color: var(--primary_white);
  width: auto !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--primary_black);
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--primary_white);
  padding: 0.8em;
  height: 90% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Individual item */
.bm-item {
  display: inline-block;
  transition: color 0.3s ease;
  &:hover {
    color: var(--primary_orange);
    transition: color 0.3s ease;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  height: 40px;
  svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

.navbar_menu_logo {
  width: 150px;
  margin-top: 310px;
}
