.about_wrapper {
  background-color: var(--primary_orange);
  color: var(--primary_black);
  height: 300px;
}

.banner_container {
  width: 100vw;
  justify-content: space-between;
  padding: 50px;
}

.about_banner_title {
  color: var(--primary_white);

  span {
    color: var(--primary_black);
  }
}

.banner_left_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.banner_logo {
  width: 300px;
  height: auto;
  
  g {
    fill: var(--primary_black);
  }
}


//Clients banner
.clients_wrapper {
  background-color: var(--primary_white);
  color: var(--primary_black);
}

.clients_container {
  flex-direction: column;
}

.clients_banner_title {
  color: var(--primary_black);
  align-self: flex-start;

  span {
    color: var(--primary_orange);
  }
}

.clients_border_detail {
  align-self: flex-end;

  line {
    stroke: var(--primary_orange);
  }
}

.clients_cards_container {
  display: flex;
  width: 90%; //change to 100% if there's more client logos
  justify-content: space-evenly;
  flex-wrap: wrap;
}